.center {
  text-align: center;
}
#titlemain {
  text-align: center;
  border: 10px solid black;
}
#links {
  text-align: center;
}
#righttext {
  text-align: right;
}
.center {
  text-align: center;
  color: yellowgreen;
}
